<tr data-update-url="<%= playlist_song_path(song.playlist, song) %>">
  <% if @playlist.is_owner?(current_user) %>
    <td>
      <i class="drag icon-th"></i>
    </td>
  <% end %>
  <td>
    <h2><span class="position"></span>.</h2>
  </td>
  <td>
    <%# "audio" is a very cool HTML5 tag %>
    <audio src="<%= song.file.url %>" controls preload="auto" autobuffer />
  </td>
  <td>
    <%= song.file.original_filename %>
  </td>
  <%# if this is the user's playlist %>
    <td>
      <%# this is where to put a link to delete the song, with a javascript confirmation %>
        <button type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
      <%# end %>
    </td>
  <%# end %>
  </div>
</li>
