<tr data-update-url="<%= playlist_song_path(@playlist, song) %>">
  <td>
    <i class="drag icon-th"></i>
  </td>
  <td>
    <h2><span class="position"></span>.</h2>
  </td>
  <td>
    <audio src="<%= song.file.url %>" controls preload="auto" autobuffer />
  </td>
  <td>
    <%= song.file.original_filename %>
  </td>
  <% if song.playlist.can_modify?(current_user) %>
    <td>
      <%= link_to(playlist_song_path(song.playlist, song), :method => "delete", :confirm => "Are you sure you want to delete #{song.file.original_filename}?") do %>
        <button type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
      <% end %>
    </td>
  <% end %>
  </div>
</li>
