<li>
  <div>
    <audio src="<%= song.file.url %>" controls preload="auto" autobuffer />
  </div>
  <div>
    <%= song.file.original_filename %>
    <% if song.playlist.can_modify?(current_user) %>
      [ <%= link_to('delete', playlist_song_path(song.playlist, song), :method => "delete") %> ]
    <% end %>
  </div>
</li>
