// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#playlist-songs {
  td {
    vertical-align: middle;
    border: none;
    i.drag {
      cursor: move;
    }
  }
}
