<div class="page-header">
  <h2>
    <%= @playlist.user.username %>
    <small><%# display the number of songs in the playlist %></small>
  </h2>
</div>

<% if @playlist.songs.empty? %>
  <p class="muted">
    There are no songs here.
  </p>
<% else %>
  <%# show the songs in a table. if it's the user's playlist, it should be drag-and-drop sortable %>
  <table id="playlist-songs" class="table table-striped">
    <%= render(@playlist.songs) %>
  </table>
<% end %>

<%# show a form for uploading songs if this is the user's playlist %>
  <!--
  <div class="span6">
    <%# the form starts here. a song is a child-resource of a playlist. since we're uploading files: multipart %>
      <legend>
        Upload a Song
      </legend>
      <div class="control-group">
        <%# add a label for the file %>
        <div class="controls">
          <%# show the file input here %>
        </div>
      </div>

      <div clas="control-group">
        <div class="controls">
          <div class="upload-progress"></div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    <%# end %>
  </div>
  -->
<%# end %>
